version: "3.9"

services:
  backend:
    build: ./backend
    container_name: django-backend
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
    networks:
      - app-network

  frontend:
    user: root
    build: ./frontend
    container_name: react-frontend
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://backend:8000
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
